body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #464646;
	font-size: 15px;
	margin: 0px;
}
html, body, #wrapper{
	height: 100%;	
}
body > #wrapper {
	height: auto; 
	min-height: 100%;	
}
img {
	border: none;
}
p {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
form{
	margin: 0px;
	padding: 0px;
}
input, select{
	vertical-align: middle;
}
input.btn{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images_login/bg_submit_btn.gif);
	background-repeat: repeat-x;
	background-color: #DADADA;
	background-color: #D6D6D6 \9;
	color: #525252;
	padding-top: 1px;
	padding-top: 4px \9;
	*padding-top: 5px;	
	padding-right: 5px;
	padding-right: 8px \9;
	*padding-right: 0px;
	padding-bottom: 3px;
	padding-bottom: 0px \9;
	padding-left: 5px;
	padding-left: 8px \9;
	*padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #B9B9B9;
	border-right-color: #6C6C6C;
	border-bottom-color: #6C6C6C;
	border-left-color: #B9B9B9;	
	min-height:21px;
	height: auto !important;
	height: 21px;
	_height: 26px;
	vertical-align: middle;
}
input.txt, textarea, select.txt{
	font-family: Arial, Helvetica, sans-serif;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #505050;
	padding: 3px;
	vertical-align: middle;
}
input.setting{
	font-size:15px;

	border: none;
	background-image: url(../images_login/bg_submit_setting.gif);
	background-color: #fff;
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #3f4855;
	text-shadow: 0 1px 1px #fff;
	border-bottom-color: #6283A5;
	border-top-color: #C5CFE2;
	-webkit-box-shadow: #f6f7f9 0 1px 1px;
	-moz-box-shadow: #f6f7f9 0 1px 1px;
	box-shadow: #f6f7f9 0 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #97ABBC;
	border-left-color: #97ABBC;
	padding: 3px 7px 3px 7px;
	padding: 7px 10px 3px 10px \9;	

	>padding: 5px 3px 0px 3px;	
}
a:link {
	color: #284D99;
	text-decoration: none;
}
a:visited {
	color: #284D99;
	text-decoration: none;
}
a:hover {

	text-decoration: underline;
}
.clear{
    clear: both;
}
table{
	font-size: 100%;
}

.nowrap{
	white-space: nowrap;

}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.zoom{
	zoom: 1;
}
#wrapper{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-image: url(../images_login/bg_wrapper.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-right: 5px;
	padding-left: 5px;
}
#wrapperInner {
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	text-align: left;
}

#header{
	height: 100px;
	position: relative;
	z-index:1000000000;		
}
.logoBox{
	position: absolute;
	left: 0px;
	top: 10px;
}
.logoBox img{
	height: 80px;
	width: 425px;
	display: block;
}
.logoBox a{
	position: relative;
}
#content{
	padding-bottom: 70px;
}
.loginBox{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
}
.table_login{
	border-collapse: collapse;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	margin-top: 10px;
}
.table_login th{
	border-collapse: collapse;
	font-weight: normal;
	white-space: nowrap;
	text-align: right;
	vertical-align: middle;
	padding-top: 7px;
	padding-right: 3px;
	padding-bottom: 7px;
	padding-left: 7px;
}
.table_login td{
	border-collapse: collapse;
	vertical-align: middle;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 3px;
	text-align: left;
}
.loginBox .submitBox{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.line_dashed{
	background-image: url(../images_login/line_dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 1px;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 5px;
}
.wrapperBox{
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
}

.wrapperBox_header{
	overflow: hidden;
	position: relative;
	height: 11px;
}
.wrapperBox_header_left{
	background-image: url(../images_login/wrapperBox_header_left.png);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.wrapperBox_header_right{
	background-image: url(../images_login/wrapperBox_header_right.png);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
}
.wrapperBox_header_mid{
	background-image: url(../images_login/wrapperBox_header_mid.png);
	background-repeat: repeat;
	height: 11px;
	margin-right: 11px;
	margin-left: 11px;
	overflow: hidden;
}
.wrapperBox_footer{
	overflow: hidden;
	position: relative;
	height: 11px;
}
.wrapperBox_footer_left{
	background-image: url(../images_login/wrapperBox_footer_left.png);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.wrapperBox_footer_right{
	background-image: url(../images_login/wrapperBox_footer_right.png);
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
}
.wrapperBox_footer_mid{
	background-image: url(../images_login/wrapperBox_footer_mid.png);
	background-repeat: repeat;
	height: 11px;
	margin-right: 11px;
	margin-left: 11px;
	overflow: hidden;
}
.wrapperBox_content{
	position: relative;
}
.wrapperBox_shadow_left{
	background-image: url(../images_login/wrapperBox_shadow_left.gif);
	background-repeat: no-repeat;
	height: 90px;
	width: 6px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.wrapperBox_shadow_right{
	background-image: url(../images_login/wrapperBox_shadow_right.gif);
	background-repeat: no-repeat;
	height: 90px;
	width: 6px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.wrapperBox_content_left{
	background-image: url(../images_login/wrapperBox_content_left.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left: 6px;
	min-height:100px;
	height: auto !important;
	height: 100px;
}
.wrapperBox_content_right{
	background-image: url(../images_login/wrapperBox_content_right.png);
	background-repeat: repeat-y;
	background-position: right top;
	padding-right: 6px;
	min-height:100px;
	height: auto !important;
	height: 100px;
}
.wrapperBox_content_mid{
	background-color: #FFFFFF;
	vertical-align: top;
}
#displayDoc{
	margin-right: 5px;
	margin-left: 5px;
	padding: 0px;
	min-height:100px;
	height: auto !important;
	height: 100px;	
	background-image: url(../images_login/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: left bottom;		
}
.displayDocBox{
	padding: 10px;
	*padding-top:0px;
}
.RCGrayBox{
	margin: 0px;
}
.RCGrayBox .RCBox_header{
	height: 4px;
	overflow: hidden;
	position: relative;
}

.RCGrayBox .RCBox_header_left{
	background-image: url(../images_login/RCGrayBox_header_left.gif);
	background-repeat: no-repeat;
	height: 4px;
	width: 4px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.RCGrayBox .RCBox_header_right{
	background-image: url(../images_login/RCGrayBox_header_right.gif);
	background-repeat: no-repeat;
	height: 4px;
	width: 4px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.RCGrayBox .RCBox_header_mid{
	background-image: url(../images_login/RCGrayBox_content_mid.gif);
	height: 4px;
	overflow: hidden;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #DADADA;
	margin-right: 4px;
	margin-left: 4px;
}
.RCGrayBox .RCBox_footer{
	height: 4px;
	overflow: hidden;
	position: relative;
}

.RCGrayBox .RCBox_footer_left{
	background-image: url(../images_login/RCGrayBox_footer_left.gif);
	background-repeat: no-repeat;
	height: 4px;
	width: 4px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.RCGrayBox .RCBox_footer_right{
	background-image: url(../images_login/RCGrayBox_footer_right.gif);
	background-repeat: no-repeat;
	height: 4px;
	width: 4px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.RCGrayBox .RCBox_footer_mid{
	background-image: url(../images_login/RCGrayBox_content_mid.gif);
	height: 2px;
	overflow: hidden;
	margin-right: 4px;
	margin-left: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DADADA;
}
.RCGrayBox .RCBox_content{
	background-image: url(../images_login/RCGrayBox_content_mid.gif);
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DADADA;
	border-left-color: #DADADA;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	min-height:10px;
	height: auto !important;
	height: 10px;
}
.table_loginInfo{
	border-collapse: collapse;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	margin-top: 15px;
	color: #666666;
}
.table_loginInfo td{
	text-align: left;
}
.table_loginInfo p {
	line-height: 1.5em;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.table_loginInfo .psBox{
	color: #C25130;
	line-height: 1.4em;
	margin-top: 10px;
	background-image: url(../images_login/line_dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 15px;
}
#footer{
	color: #666666;
	height: 50px;
	clear:both;
	font-size: 13px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-top: -70px; /* footer°ª«×ªº­t­È */
	clear:both;
	background-image: url(../images_login/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 20px;
}

#footer a:link, #footer a:visited{
	color: #4D6995;
}
#footer a:hover{
	text-decoration: underline;
}
#footer p{
	line-height: 1.4em;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}